---
edit
  command: "lvim"

merge
  command: {{ .chezmoi.homeDir }}/.config/chezmoi/idea_merge_tool.sh
  ## args: ["{{ .Destination }}", "{{ .Destination }}", "{{ .Source }}"]

data:
  gmail-email: {{ onepasswordRead "op://Private/personal-google/username" }}
  work-email: {{ onepasswordRead "op://Private/CK PagerDuty/username" }}
  first-name: {{ onepasswordRead "op://Private/Simple-Identity/first name" }}
  last-name: {{ onepasswordRead "op://Private/Simple-Identity/last name" }}
