---
encryption: gpg
gpg:
  recipient: {{ onepasswordRead "op://Private/jmrwdo77a4qdkbu56rpr3mnwf4/email" }}
edit:
  command: "nvim"
merge:
  command: "nvim"
  args: {{`["-d", "-O", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]`}}
diff:
  command: "nvim"
args: {{`["-d", "-O", "{{ .Destination }}", "{{ .Target }}"]`}}

data:
  gmail_email: {{ onepasswordRead "op://Private/personal-google/username" }}
  work_email: {{ onepasswordRead "op://Private/CK PagerDuty/username" }}
  work_username: {{ onepasswordRead "op://Private/Simple-Identity/Identification/work username" }}
  first_name: {{ onepasswordRead "op://Private/Simple-Identity/first name" }}
  last_name: {{ onepasswordRead "op://Private/Simple-Identity/last name" }}
  sys_java_version: zulu:21
  work_java_version: corretto:17
  work_ghe: {{ onepasswordRead "op://Private/gb6vcdbw2dkd3k3rvc573rbjoq/hostname" }}
