---
edit:
  command: "zed"

data:
  gmail_email: {{ onepasswordRead "op://Private/personal-google/username" }}
  work_email: {{ onepasswordRead "op://Private/CK PagerDuty/username" }}
  first_name: {{ onepasswordRead "op://Private/Simple-Identity/first name" }}
  last_name: {{ onepasswordRead "op://Private/Simple-Identity/last name" }}
