[user]
  name = {{ .chezmoi.username }}
  {{ if (eq .chezmoi.hostname "bluewhale" ) }}
  email = {{ index ((index (lastpass "5433460393394439843") 0).note) "work" | trim }}
  {{ else }}
  email = {{ index ((index (lastpass "5433460393394439843") 0).note) "original" | trim }}
  signingkey = {{ (index (lastpass "3492591893907884721") 0).note.signingkey | trim }}
  {{ end }}
[color]
  branch = auto
  diff = true
  status = always
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
	autocrlf = input
  pager = delta
	editor = nvim
[push]
  default = simple
[interactive]
    diffFilter = delta --color-only

[delta]
    features = unobtrusive-line-numbers decorations
    whitespace-error-style = 22 reverse
    syntax-theme = Solarized (dark)

[delta "unobtrusive-line-numbers"]
    line-numbers = true
    line-numbers-minus-style = "#444444"
    line-numbers-zero-style = "#444444"
    line-numbers-plus-style = "#444444"
    line-numbers-left-format = "{nm:>4}┊"
    line-numbers-right-format = "{np:>4}│"
    line-numbers-left-style = blue
    line-numbers-right-style = blue

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow box

[credential "https://*.amazonaws.com"]
  helper = !aws --profile git-rus codecommit credential-helper $@
  UseHttpPath = true

[difftool "pycharm"]
  prompt = false
	cmd = pycharm diff \"$LOCAL\" \"$REMOTE\"
  trustExitCode = false
[mergetool "pycharm"]
  prompt = false
  cmd = pycharm merge \"$(realpath \"${LOCAL}\")\" \"$(realpath \"${REMOTE}\")\" \"$(realpath \"${BASE}\")\" \"$(realpath \"${MERGED}\")\"
  trustExitCode = true

[mergetool "vimdiff"]
  prompt = true
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c '$wincmd w' -c 'wincmd J'
[difftool "vimdiff"]
  prompt = true
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[mergetool "fugitive"]
  prompt = true
	cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[commit]
	template = /Users/tj-noyo/.stCommitMsg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[merge]
  tool = fugitive
  guitool = pycharm
[diff]
  tool = vimdiff
  guitool = pycharm

[init]
	templatedir = /Applications/SourceTree.app/Contents/Resources/git_local/share/git-core/templates
	defaultBranch = main
[gpg]
	program = /usr/local/bin/gpg
[tag]
	gpgsign = true
[pull]
	rebase = false
