[color]
  branch = auto
  diff = true
  status = always
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
  autocrlf = input
  pager = delta
  editor = lvim
[push]
  default = simple
[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  navigate = true
  line-numbers = true
  side-by-side = true
  features = unobtrusive-line-numbers decorations
  whitespace-error-style = 22 reverse

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "unobtrusive-line-numbers"]
  line-numbers = true
  line-numbers-minus-style = "#444444"
  line-numbers-zero-style = "#444444"
  line-numbers-plus-style = "#444444"
  line-numbers-left-format = "{nm:>4}┊"
  line-numbers-right-format = "{np:>4}│"
  line-numbers-left-style = blue
  line-numbers-right-style = blue

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = yellow box

[credential]
  helper = osxkeychain

[difftool "pycharm"]
  prompt = false
  cmd = pycharm diff \"$LOCAL\" \"$REMOTE\"
  trustExitCode = false
[mergetool "pycharm"]
  prompt = false
  cmd = pycharm merge \"$(realpath \"${LOCAL}\")\" \"$(realpath \"${REMOTE}\")\" \"$(realpath \"${BASE}\")\" \"$(realpath \"${MERGED}\")\"
  trustExitCode = true

[mergetool "vimdiff"]
  prompt = true
  cmd = lvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c '$wincmd w' -c 'wincmd J'
[difftool "vimdiff"]
  prompt = true
  cmd = lvim -d \"$LOCAL\" \"$REMOTE\"
[mergetool "fugitive"]
  prompt = true
  cmd = lvim -c \"Gvdiffsplit!\" \"$MERGED\"

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[merge]
  tool = fugitive
  guitool = pycharm
  conflictstyle = diff3
[diff]
  tool = vimdiff
  guitool = pycharm
  colorMoved = default

[init]
  templatedir = /Applications/SourceTree.app/Contents/Resources/git_local/share/git-core/templates
  defaultBranch = main

[pull]
  rebase = false

[user]
	signingkey = 904C63B30549724E699147040FF30E885401BF1F
  name = TJ Kolleh

[commit]
	gpgsign = true
[gpg]
  ## path created by `brew install --cask gpg-suite`
	program = /usr/local/MacGPG2/bin/gpg2
[grep]
	extendedRegexp = true
