#!/usr/bin/env bash

if [ -f "$HOME/.zsh_functions" ]; then
  source "$HOME/.zsh_functions"
fi

if [[ "$(uname)" == "Darwin" ]]; then
  bluebox_src="$HOME/ws/usrBinScripts/blubox.sh"
  bluebox_dest="/usr/local/bin/bluebox"

  if [ -f "$bluebox_src" ]; then
    if [ -L "$bluebox_dest" ]; then
      echo "Symlink exists: $bluebox_dest"
    else
      echo "Creating symlink for $bluebox_dest"
      ln -s "$bluebox_src" "$bluebox_dest"
    fi
  fi
fi
