# TODO: add conditional based on chezmoi varibale to check username
# Commented lines are for tkolleh
#

#eval "$(/opt/homebrew/bin/brew shellenv)"
#
# [ -f /opt/homebrew/etc/profile.d/autojump.sh ] && . /opt/homebrew/etc/profile.d/autojump.sh

eval "$(/usr/local/bin/brew shellenv)"

[ -f /usr/local/etc/profile.d/autojump.sh ] && . /usr/local/etc/profile.d/autojump.sh

export PATH="$HOME/.jenv/bin:$PATH"
eval "$(jenv init -)"

# Close shell with five presses of CTRL-D
export IGNOREEOF=5
export LANG=en_US.UTF-8

export CURL_HOME="$(brew --prefix curl)"
export ICLOUD_DIR="{{ .chezmoi.homeDir }}/Library/Mobile Documents/com~apple~CloudDocs/"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export MARKDOWN_NOTES=$HOME/Dropbox/Documents/markdown-notes
#export CONDA_ENVS="/usr/local/anaconda3/envs"
#export NVIM_PY2_HOME="$CONDA_ENVS/nvim-py2/bin"
#export NVIM_PY3_HOME="$CONDA_ENVS/nvim-py3/bin"
export MYVIMRC="$XDG_CONFIG_HOME/nvim/init.vim"
export MYVIMOPTS="$XDG_CONFIG_HOME/nvim/options.vim"
export MYVIMPACKS="$XDG_CONFIG_HOME/nvim/packages.vim"
export NVIM_SESSION="$XDG_CONFIG_HOME/nvim/sessions"
export LAST_NVIM_SESSION="$NVIM_SESSION/lastsession.vim"
export CHEZMOI_SOURCE_PATH="$(chezmoi source-path)"

# export PATH="/usr/local/bin:/usr/local/lib:$PATH"

# The preferred visual editor for local or set the remote
# visual editor. The EDITOR variable technically shouldn't be set to a
# "visual" editor like vi but something like ed
#
# TODO: move to zprofile
if [[ -n $SSH_CONNECTION ]]; then
  export VISUAL='vim'
else
  export VISUAL='vim'
fi

# Load app configurations from separate configuration file.
if [[ -a "$HOME"/.bash_secrets ]]; then
    source "$HOME"/.bash_secrets
fi

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/opt/anaconda3/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/opt/anaconda3/etc/profile.d/conda.sh" ]; then
        . "/opt/anaconda3/etc/profile.d/conda.sh"
    else
        export PATH="/opt/anaconda3/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<

