source {{ .chezmoi.homedir }}/.config/nvim/_alt_init.vim

set visualbell
set noerrorbells
set surround
set commentary
set ideajoin

set clipboard+=unnamed

" nvim ranger mapping
"
" nnoremap <Leader>- :action ActivateProjectToolWindow<CR>
nnoremap <Leader>- :action SelectInProjectView<CR>

nnoremap <Leader>rn :action RenameElement<CR>
nnoremap <Leader>nf :action Darker<CR>

" similar to nvim dap configuration
"
nnoremap <Leader>b :action ToggleLineBreakpoint<CR>
" nnoremap <Leader>dl :action EditorPopupMenuDebug<CR>


nnoremap <Leader>h :action TypeHierarchy<CR>

" gitgutter mapping
" Unlike gitgutter Jumps are based on timeline not line number in file
"
nnoremap ]c :action VcsShowNextChangeMarker<CR>
nnoremap [c :action VcsShowPrevChangeMarker<CR>

"nnoremap ]c :action Diff.NextChange<CR>
"nnoremap [c :action Diff.PrevChange<CR>


" nvim-lsp configu mappings
"
" Go to references
nnoremap gr :action FindUsages
