# -*-mode:bash-*- vim:ft=bash

# ~/.bash_aliases
# =============================================================================
# Shell aliases sourced by `~/.bashrc` and `~/.zshrc`.
#
# OSTYPE values used:
#     - darwin: macOS
#     - cygwin: Cygwin POSIX-compatible environment for Windows
#     - mingw: MinGW Minimalist GNU for Windows
#     - msys: MinGW Lightweight shell and GNU utilities for Windows

# shellcheck shell=bash

# Redefine standard commands to improve their behavior
# -----------------------------------------------------------------------------
#
# TODO: use oh-my-zshell alias functions
#
# -- Local navigation --------------------------------------------------
__alias ll "exa --time modified --all --binary --git --header --long --color=always "
__alias lt "exa --long --tree --level=3 "

# -- Git -------------------------------------------------- 
__remove_alias grmci
function grmci () {
  # TODO: Function needs to be reworked doesn't really do what I want
  # Remove cached files that have been ignored by git locally or globally.
  git ls-files --others | xargs -n1 -I '{}' git rm --cached --quiet --ignore-unmatch -- ./{}
}

__alias gts "git log --oneline --pretty='%Cred%h%Creset -%C(auto)%d%Creset %<(50,trunc)%s %Cgreen(%cr) %C(bold blue)<%an>%Creset' -5 && echo "" && git status && echo "" && git status -b --ignored | gawk '/Ignored\s+files:/{x=NR+8} (NR<=x) {print}'"
__alias gtsp git-extended-status
__alias gcm "git commit -a -S -m"
__alias glog "git log --oneline --decorate --graph --show-signature"
__alias gloga "git log --oneline --decorate --graph --show-signature --all"
__alias gwch "git whatchanged -p --abbrev-commit --pretty=medium"
__alias gcd "git checkout development"

# -- miscellaneous --------------------------------------------------

alias ranger="TERM=xterm-256color ranger"
alias fx="NODE_PATH=`npm root -g` fx"

# Reloads the configuration.
if [ -n "$ZSH_VERSION" ]; then
    __alias resource 'source $HOME/.zshrc'
else
    __alias resource 'source $HOME/.bash_profile'
fi

__alias note 'cd $MARKDOWN_NOTES && lvim -c "NV!"'
# __alias gradle "TERM=xterm ./gradlew"

#__alias lldb "PATH=/usr/bin:$PATH lldb"
# alias pandoc="/usr/local/opt/pandoc/bin/pandoc"
# __alias subl "/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl"

__alias chezmoidelta "chezmoi source pull -- --rebase && chezmoi diff | delta"
__alias ipython="EDITOR=lvim ipython"
__alias gloudtoken "gcloud auth login --brief && gcloud auth print-identity-token"
__alias trash_pycharm_remote_resources "trash -v ~/Library/Caches/JetBrains/PyCharm2021.2/remote_sources ~/Library/Caches/JetBrains/PyCharm2021.2/tmp"

# -- configuration paths ------------------------------------------------------

# Navigates to Chezmoi's local repo.
if command -v chezmoi > /dev/null; then
    if [[ "$OSTYPE" =~ ^(cygwin|mingw|msys) ]]; then
        # shellcheck disable=SC2046,SC2139
        __alias chezmoiconf "cd $(chezmoi source-path | tr '\\/' '/' | tr -d ':' | awk '{print "/"$1}')"
    else
        __alias chezmoiconf 'cd $(chezmoi source-path)'
    fi
else
    __alias chezmoiconf 'cd $HOME/.local/share/chezmoi'
fi
