#! /usr/bin/env bash

[ "$user_functions_loaded" ] || source {{ .chezmoi.homeDir }}/.zsh_functions

{{ if eq .chezmoi.os "darwin" }}
bluebox="/usr/local/bin/bluebox"
if pathtosymlink "${bluebox}"; then 
  echo "Symlink exists: ${blubox}"
else
  echo "Creating symlink for ${bluebox}"
  ln -s {{ .chezmoi.homeDir }}/ws/usrBinScripts/blubox.sh ${blubox} 
fi
{{ end }}
