# -*-mode:bash-*- vim:ft=bash

export CLICOLOR=1
export LSCOLORS=ExFxBxDxCxegedabagacad
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export CURL_HOME="/usr/bin/curl"
export ICLOUD_DIR="{{ .chezmoi.homeDir }}/Library/Mobile Documents/com~apple~CloudDocs/"
export JAVA_HOME="/usr/local/opt/openjdk"

# You may need to manually set your language environment
export LANG=en_US.UTF-8

# Close shell with five presses of CTRL-D
export IGNOREEOF=5

# Sand et the preferred visual editor for local or set the remote
# visual editor. The EDITOR variable technically shouldn't be set to a
# "visual" editor like vi but something like ed
#
if [[ -n $SSH_CONNECTION ]]; then
  export VISUAL='lvim'
else
  export VISUAL='lvim'
fi

# Color manpages
function man() {
	env \
		LESS_TERMCAP_mb=$(printf "\033[1;31m") \
		LESS_TERMCAP_md=$(printf "\033[1;31m") \
		LESS_TERMCAP_me=$(printf "\033[0m") \
		LESS_TERMCAP_se=$(printf "\033[0m") \
		LESS_TERMCAP_so=$(printf "\033[1;44;33m") \
		LESS_TERMCAP_ue=$(printf "\033[0m") \
		LESS_TERMCAP_us=$(printf "\033[1;32m") \
		man "$@"
}

#
# Load jenv automatically by adding
#
# note: Run command `jenv enable-plugin export` to set the JAVA_HOME
eval "$(jenv init -)"

#
# Load bash_completion if it exists
# https://github.com/bobthecow/git-flow-completion/wiki/Install-Bash-git-completion
#
test -f $(brew --prefix)/etc/bash_completion && source $(brew --prefix)/etc/bash_completion

#
# Load gradle-completion if it exists
# https://github.com/gradle/gradle-completion
#
test -f $(brew --prefix)/etc/bash_completion.d/gradle-completion.bash && source $(brew --prefix)/etc/bash_completion.d/gradle-completion.bash

#
# Load PS1, prompt command
# This sets the GIT_PROMPT_START and GIT_PROMPT_END as defined
# in the below bash-git-prompt project
#
test -f $HOME/ws/bash-env-setup/prompt_command.sh && source $HOME/ws/bash-env-setup/prompt_command.sh
#
# Add git prompt
# See https://github.com/magicmonty/bash-git-prompt
#
if [ -f "$(brew --prefix)/opt/bash-git-prompt/share/gitprompt.sh" ]; then
  __GIT_PROMPT_DIR=$(brew --prefix)/opt/bash-git-prompt/share
  GIT_1ROMPT_ONLY_IN_REPO=0
  GIT_PROMPT_THEME=Solarized
  source "$(brew --prefix)/opt/bash-git-prompt/share/gitprompt.sh"
fi

#
# Load Alacritty completions
#
test -f $HOME/ws/alacritty/extra/completions/alacritty.bash && source $HOME/ws/alacritty/extra/completions/alacritty.bash 

#
# Load command line fuzzy finder
# See: https://github.com/junegunn/fzf
#
test -f $HOME/.fzf.bash && source $HOME/.fzf.bash

#
# Load autojump
#
[ -f /usr/local/etc/profile.d/autojump.sh ] && . /usr/local/etc/profile.d/autojump.sh

# Load rbenv automatically by appending
# the following to ~/.bash_profile:
eval "$(rbenv init -)"
