# Load app configurations from separate configuration file.
if [[ -a "$HOME"/.bash_secrets ]]; then
    source "$HOME"/.bash_secrets
fi

# Close shell with five presses of CTRL-D
export IGNOREEOF=5
export LANG=en_US.UTF-8

export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export MARKDOWN_NOTES=$HOME/Dropbox/Documents/markdown-notes

#export CONDA_ENVS="/usr/local/anaconda3/envs"
#export NVIM_PY2_HOME="$CONDA_ENVS/nvim-py2/bin"
#export NVIM_PY3_HOME="$CONDA_ENVS/nvim-py3/bin"

export MYVIMRC="$XDG_CONFIG_HOME/nvim/init.vim"
export MYVIMOPTS="$XDG_CONFIG_HOME/nvim/options.vim"
export MYVIMPACKS="$XDG_CONFIG_HOME/nvim/packages.vim"
export NVIM_SESSION="$XDG_CONFIG_HOME/nvim/sessions"
export LAST_NVIM_SESSION="$NVIM_SESSION/lastsession.vim"
