source {{ .chezmoi.homedir }}/.config/nvim/_alt_init.vim

set visualbell
set noerrorbells
set surround
set commentary
set ideajoin

" similar to my vim ranger mapping
nnoremap <Leader>- :action ActivateProjectToolWindow<CR>

nnoremap <Leader>rn :action RenameElement<CR>
nnoremap <Leader>nf :action Darker<CR>
