Host *
  UseKeychain yes
  AddKeysToAgent yes

Host *vm
  HostName localhost
  PreferredAuthentications publickey
  IdentitiesOnly yes
  IdentityFile ~/.ssh/{{ (index (lastpass "401349275726202268") 0).note.fname | trim }}
  Port 2222

Host ubuntuvm
  User ubuntu

Host debianvm
  User root

Host *.amazonaws.com
  ForwardAgent yes

Host *.compute.internal
  ForwardAgent yes

Host unraid
  HostName 10.0.0.2
  User root
  PreferredAuthentications publickey
  IdentitiesOnly yes
  IdentityFile ~/.ssh/{{ (index (lastpass "1422156508229167239") 0).note.fname | trim }}
  RequestTTY yes

Host github.gatech.edu
  PreferredAuthentications keyboard-interactive
  IdentityFile ~/.ssh/{{ (index (lastpass "401349275726202268") 0).note.fname | trim }}
  
Host gitlab.com
  PreferredAuthentications publickey
  IdentitiesOnly yes
  IdentityFile ~/.ssh/{{ (index (lastpass "401349275726202268") 0).note.fname | trim }}
  Port 22

Host github.com-tkolleh
  HostName github.com
  User git
  PreferredAuthentications publickey
  IdentitiesOnly yes
  IdentityFile ~/.ssh/scm_rsa
  Port 22

Host github.com-{{ (index (lastpass "3720627873338883571") 0).note.username | trim }}
  HostName github.com
  User git
  PreferredAuthentications publickey
  IdentitiesOnly yes
  IdentityFile ~/.ssh/{{ (index (lastpass "4605371963989282391") 0).note.filename | trim }}
  Port 22

Host ml
  HostName ec2-*.compute-1.amazonaws.com
  User ubuntu
  PreferredAuthentications publickey
  IdentitiesOnly yes
  IdentityFile ~/.ssh/{{ (index (lastpass "5450649701707088122") 0).note.fname | trim }}
  Port 22

