--
-- nvim/lua/plugins/core.lua
-- ========================================
--

-- every spec file under the "plugins" directory will be loaded automatically by lazy.nvim
--
-- In your plugin files, you can:
-- * add extra plugins
-- * disable/enabled LazyVim plugins
-- * override the configuration of LazyVim plugins

local utils = require("utils")

return {
  {
    "linrongbin16/gitlinker.nvim",
    cmd = "GitLink",
    opts = function(_, opts)
      local routers = require("gitlinker.routers")
      return vim.tbl_deep_extend("force", opts or {}, {
        router = {
          browse = {
            ["{{ (index (onepassword "p3zimt7otz5dfe64qtfzxgl3jm").fields 0).value }}"] = routers.github_browse,
          },
          blame = {
            ["{{ (index (onepassword "p3zimt7otz5dfe64qtfzxgl3jm").fields 0).value }}"] = routers.github_blame,
          },
          default_branch = {
            ["{{ (index (onepassword "p3zimt7otz5dfe64qtfzxgl3jm").fields 0).value }}"] = routers.github_default_branch,
          },
          current_branch = {
            ["{{ (index (onepassword "p3zimt7otz5dfe64qtfzxgl3jm").fields 0).value }}"] = routers.github_current_branch,
          },
        },
      })
    end,
    keys = {
      { "<leader>gy", "<cmd>GitLink<cr>", mode = { "n", "v" }, desc = "Yank git link" },
      { "<leader>gY", "<cmd>GitLink!<cr>", mode = { "n", "v" }, desc = "Open git link" },
    },
  },
  {
    "s1n7ax/nvim-window-picker",
    name = "window-picker",
    event = "VeryLazy",
    version = "2.*",
    config = function()
      require("window-picker").setup()
    end,
  },
  -- add gruvbox theme
  { "ellisonleao/gruvbox.nvim" },

  -- add github theme
  -- Install without configuration
  { "projekt0n/github-nvim-theme", name = "github-theme" },

  -- add newpaper theme
  { "yorik1984/newpaper.nvim" },

  -- add cyberdream theme
  {
    "scottmckendry/cyberdream.nvim",
    lazy = false,
    priority = 1000,
    config = function()
      require("cyberdream").setup({
        variant = "light", -- "auto" will set the theme dynamically based on the colorscheme
        italic_comments = true,

        -- Replace all fillchars with ' ' for the ultimate clean look
        hide_fillchars = true,

        -- Enable transparent background
        transparent = true,

        -- Reduce the overall saturation of colours for a more muted look
        saturation = 1, -- accepts a value between 0 and 1. 0 will be fully desaturated (greyscale) and 1 will be the full color (default)

        -- Apply a modern borderless look to pickers like Telescope, Snacks Picker & Fzf-Lua
        borderless_pickers = false,

        -- Set terminal colors used in `:terminal`
        terminal_colors = true,
      })
    end
  },

  -- add nightfox theme
  { "EdenEast/nightfox.nvim" },

  -- Customize bufferline
  {
    "akinsho/nvim-bufferline.lua",
    event = "VeryLazy",
    opts = {
      options = {
        separator_style = "slant" or "padded_slant",
        always_show_bufferline = true,
      },
    },
  },

  {
    "LazyVim/LazyVim",
    opts = {
      colorscheme = function()
        if utils.is_background_dark() then
          utils.setDark()
        else
          utils.setLight()
        end
      end,
    },
  },
}
