templates:
  marked:
    pandoc:
      from: markdown
      to: html
      standalone: true
      mathjax: true
      section-divs: true
      html-q-tags: true
      citeproc: true
      lua-filter:
        - filters/pandoc-zotxt.lua
        - filters/abstract-to-meta.lua
        - filters/diagram-generator.lua
      filter:
        - pandoc-include-code
    metadata:
      lang: en-US
      link-citations: true
      fontsize: 12pt
      bibliography: {{ .chezmoi.homedir }}/Downloads/zotero-library.bib
  ieee:
    pandoc:
      from: markdown
      to: html
      standalone: true
      mathjax: true
      section-divs: true
      html-q-tags: true
      css: "{{ .chezmoi.homedir }}/Documents/markdown-css/pubcss-ieee.css"
      csl: csl/ieee-with-url.csl
      citeproc: true
      lua-filter:
        - filters/pandoc-zotxt.lua
        - filters/abstract-to-meta.lua
        - filters/diagram-generator.lua
      filter:
        - pandoc-include-code
    metadata:
      lang: en-US
      link-citations: true
      fontsize: 12pt
      bibliography: {{ .chezmoi.homedir }}/Downloads/zotero-library.bib
  report:
    pandoc:
      from: markdown-raw_tex
      to: pdf
      standalone: true
      mathjax: true
      pdf-engine: lualatex
      csl: csl/ieee-with-url.csl
      highlight-style: tango
      lua-filter:
        - filters/pandoc-zotxt.lua
        - filters/abstract-to-meta.lua
      filter:
        - pandoc-citeproc
        - pandoc-include-code
      template:
        - templates/eisvogel.latex
    metadata:
      lang: en-US
      link-citations: true
      fontsize: 12pt
      mainfont: "DejaVuSerif"
      sansfont: "DejaVu Sans Mono Nerd Font Complete"
      monofont: "DejaVu Sans Mono Nerd Font Complete Mono"
      mathfont: "DejaVuMathTeXGyre"
      geometry: "margin=1in"
